html{
    width: 100%;
    height: 100%;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background:#014056;
  }
  #container{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    max-width: 980px;
    margin: auto;
  }
  header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
  }
  #container img{
    width: 10vw;
    margin: 0 auto;
  }
  #title{
    background-image:url("../img/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;   
    border-radius: 10px;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.1);
    font-size: 20px;
    color: #ffffff;
    font-family: 'Staatliches';
    letter-spacing: 0.3em;
  }
 #content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image:url("../img/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.1);
  }
  button:hover{
    filter: opacity(0.9);
  } 
  .content-events{
    line-break: normal;
    color: #ffffff;
    font-family: 'Staatliches';
  }
  #logout-button, .event-button{
    background-color: #af1313;
    width: 200px;
    height: 35px;
    color: #fffffff2;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1vh auto
  }
  .check-button{
    background-color: #014056;
    width: 200px;
    height: 35px;
    color: #fffffff2;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1vh auto
  }
.confirm-events{
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #3eb6e2;
  width: 400px;
  height: 400px;
}
.event-button{
  background-color: #207D36;
}